<link href="{{ site.baseurl }}/assets/css/hyperlinks-icons.css" rel="stylesheet" media="all" class="default" />
<link href="{{ site.baseurl }}/assets/css/colorless-title.css" rel="stylesheet" media="all" class="default" />

<div class="home-intro">
    <h5 class="meta-title">Hola, Soy <a href="{{ site.baseurl }}/about" target="_self" class="icon-fill">Lorenzo Cabrera</a> 💀 ⸻</h5>
    <div class="jumbo">Trabajando en la claridad de la información. </div>
    <div class="home-sub-text">
        <h3 class="colorless-title">
            Currently leading designs at <a href="https://kaleyra.com/" target="_blank">Kaleyra</a>. My <a
                href="{{ site.baseurl }}/notes">working notes</a> are public, resources are <a
                href="{{ site.baseurl }}/lists">listed</a>, and I send <a href="https://hiran.substack.com/"
                target="_blank" icon="" >this and that</a> to your inbox.
        </h3>
    </div>
</div>

<div class="home-intro">
    <div class="home-sub-text">
        <h3 class="colorless-title">I mentor designers and teams on design, strategy and knowledge management. Book slots via <a
                href="https://www.youtube.com" target="_blank">ADPList</a>, <a
                href="https://www.wikipedia.com" target="_blank">MentorCruise</a>, or Get in
            touch.</h3>
    </div>
    <h3 style="padding-top: 2rem;"><a href=mailto:lorenzocabrerablanch@gmail.com>lorenzocabrerablanch@gmail.com</a></h3>
</div>


<div class="block">
    <input class="input is-medium" type="text" placeholder="Search notes.." id="search-input" autocomplete="off">
    <div id="search-results" class="search-results"></div>
</div>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/vendor/lunr.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/Search.js"></script>