.feed-title{
    font-size: var(--text-h6);
    line-height: var(--text-leading-wide);
    font-weight: var(--text-weight-bold);
    padding: var(--padding-thin) 0;
    color: var(--text-title-h3) ;
}


.excerpt {
    color: var(--color-text-main) !important;
    margin: 0;
    font-size: var(--text-s) !important;
}
