
.icon-fill{
    fill: var(--text-faint);
}


a[target= _blank]{
    background-image: url("../img/icons/amazon.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right;
    padding-right: 1.1em;
    /* mix-blend-mode: exclusion; */
}


a[href^="https://www.youtube"] {
    background-image: url("../img/icons/youtube.svg");
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 1.3rem;
}


/* body {
    background-image: url(happy.svg);
  }

<svg width="100" height="100" src = "happy.svg" fill="yellow"></svg>

svg{
    url("../img/icons/youtube.svg")
    var(--text-faint)
}

src = "happy.svg" */