
.icon-fill{
    fill: var(--text-faint);
}


a[target= _blank]{
    background-image: url("../img/icons/amazon.svg");
    background-repeat: no-repeat;
    background-position: top right;
    padding-right: 1.5em;
}

