
.icon-fill{
    fill: var(--text-faint);
}


/* a[target= _blank]{

    background-color: var(--color-text-sub);  

    -webkit-mask-image: url("../img/icons/amazon.svg");
    mask-image: url("../img/icons/amazon.svg");
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: right;
    -webkit-mask-position: right;

    -webkit-mask-type: revert;
    mask-type: revert;
    mask-mode: luminance;

} */


    /* background-image: url("../img/icons/amazon.svg");
    background-position: top right;    
    background-repeat: no-repeat; */    
    /* padding-right: 1.1em; */

/* a[href^="https://www.youtube"] {
    background-image: url("../img/icons/youtube.svg");
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 1.3rem;
} */


/* a[target= _blank]{
    background-color: --color-text-sub;   
    
    mix-blend-mode: hard-light;

    -webkit-mask-image: url("../img/icons/amazon.svg");
    mask-image: url("../img/icons/amazon.svg");

    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;


    mask-position: right;


} */

    /* padding-right: 1.1em; */
    /*  background-size: contain;*/


/* background-image: url("../img/icons/amazon.svg");

background-position: top right;    
background-repeat: no-repeat; */








/* data-link-icon-type='svg' */

a[href="https://kaleyra.com/"]::after {
    --link-icon-size: 0.5em;
    --link-icon-offset-x: 0.20em;
    --link-icon-offset-y: 0.25em;
    --link-icon-url: url("https://www.gwern.net/static/img/icons/wikipedia.svg");

    content: "";
    position: static;
    padding: 0 var(--link-icon-size) 0 0;
    margin: 0 0 0 var(--link-icon-offset-x);
    background-image: var(--link-icon-url);
    background-size: var(--link-icon-size);
    background-position-x: center;
    background-position-y: var(--link-icon-offset-y);
    background-repeat: no-repeat;
    opacity: 0.45;
}



a[href^="https://"] {
    --link-icon-size: 0.5em;
    --link-icon-offset-x: 0.20em;
    --link-icon-offset-y: 0.25em;
    --link-icon-url: url("https://www.gwern.net/static/img/icons/wikipedia.svg");
    --image-opacity: 0.45;

    content: "";
    position: static;
    padding: 0 var(--link-icon-size) 0 0;
    margin: 0 0 0 var(--link-icon-offset-x);
    background-image: var(--link-icon-url);
    background-size: var(--link-icon-size);
    background-position-x: center;
    background-position-y: var(--link-icon-offset-y);
    background-repeat: no-repeat;
    opacity: var(--image-opacity);
}


a[href^="https://www.youtube"] {
    --link-icon-url: url("{{ site.baseurl }}/assets/img/icons/youtube.svg");    
    --link-icon-size: 0.5em;
    --link-icon-offset-x: 0.20em;
    --link-icon-offset-y: 0.25em;

    padding: 0 var(--link-icon-size) 0 0;

    margin: 0 0 0 var(--link-icon-offset-x);
    background-image: var(--link-icon-url);
    background-size: var(--link-icon-size);
    background-position-y: var(--link-icon-offset-y);

}